<div class="header" >
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/" routerLinkActive="link-active"><h1>CITIZEN PORTAL</h1></a>
          <ul class="nav navbar-nav navbar-right">
            <li class="me-2"><a routerLink="/register" routerLinkActive="link-active" class="btn btn-success">Sign Up</a></li>
            <li><a class="btn btn-primary" routerLink="/login" routerLinkActive="link-active">Login</a></li>
          </ul>
        </div>
      </nav>
</div>
