#footer
{
    overflow: hidden;
    top: 100%;
    background-color:#100c08;
    clear:both;
    height: 100px;
}
h1 
{
    max-width: 100 px;
    font-weight: bold;
    color: #fff;
    font-size: 35px;
    margin-top: 0px;
    padding: 15px;
    padding-right: 20px;
}
p 
{
    color: #fff;
    font-size: 15px;
}
a 
{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}
a:hover 
{
    color: var(--primary-color);
}
i 
{
    padding: 0px 10px;
}
.col-lg-2{
    margin-top: 24px !important;
}

.col-sm{
    padding:5px;
    padding-left: 50px;   
}
#footer-content{
   
    color:white;
}
li  a:hover{
    opacity: 0.9;
    cursor: pointer;
    color:blue;
}